# Imports

In [1]:
import pandas
df=pandas.DataFrame([[2,4,5],[10,20,30]])
df

    0   1   2
0   2   4   5
1  10  20  30

In [88]:
df1=pandas.DataFrame([[2,4,6],[10,20,30]],columns=["Price","Age","Value"],index=["Firsts","Second"]);
df1

        Price  Age  Value
Firsts      2    4      6
Second     10   20     30

In [89]:
df2=pandas.DataFrame([{"Name":"John","Surname":"Johns"},{"Name":"Jack"}])
df2

   Name Surname
0  John   Johns
1  Jack     NaN

In [90]:
type(df1)

pandas.core.frame.DataFrame

In [91]:
df1.iloc[0]["Price"]

2

In [92]:
type(df1.Price)

pandas.core.series.Series

In [ ]:
help(df1.index);

In [94]:
df1.mean()

Price     6.0
Age      12.0
Value    18.0
dtype: float64

In [95]:
type(df1.mean())

pandas.core.series.Series